<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>About Page | Amaze UI Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="static/i/favicon.png">
  <link rel="stylesheet" href="static/css/amazeui.min.css"/>
  <link rel="stylesheet" href="static/css/app.css"/>
</head>
<body>
<!-- 手机版侧滑菜单 -->
<div id="navPush" class="am-offcanvas nav-push-content">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content ">
      <ul class="am-menu am-menu-offcanvas1 menu-main am-no-layout">
        <li><a href="index.html" class="am-active">首页</a></li>
        <li><a href="products.html">产品</a></li>
        <li><a href="case.html">案例</a></li>
        <li><a href="signup.html">合作</a></li>
        <li><a href="pricing.html">定制</a></li>
        <li><a href="about.html">关于</a></li>
        <li><button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册</button></li>
        <li><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button></li>
      </ul>
    </div>
  </div>
</div>

<!-- 电脑和平板 菜单-->
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="#"><img src="static/images/logo.png" /></a>
    </h1>
    <button class="am-btn am-btn-primary am-show-sm-only nav-push-btn am-topbar-toggle " data-am-offcanvas="{target: '#navPush', effect: 'push'}">
      <span class="am-sr-only">导航切换</span> 
      <span class="am-icon-bars"></span>
    </button>
    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a href="index.html" class="am-active">首页</a></li>
        <li><a href="products.html">产品</a></li>
        <li><a href="case.html">案例</a></li>
        <li><a href="signup.html">合作</a></li>
        <li><a href="pricing.html">定制</a></li>
        <li><a href="about.html">关于</a></li>
        <!-- 如果有二级菜单 以下是二级菜单代码 -->
        <!--<li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            案例 <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li class="am-dropdown-header">标题</li>
            <li><a href="#">1. 默认样式</a></li>
            <li><a href="#">2. 基础设置</a></li>
            <li><a href="#">3. 文字排版</a></li>
            <li><a href="#">4. 网格系统</a></li>
          </ul>
        </li>-->
        <!-- 登录注册按钮 -->
        <div class="am-topbar-right">
          <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册</button>
        </div>
        <div class="am-topbar-right">
          <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button>
        </div>
      </ul>
    </div>
  </div>
</header>

<!-- banner -->
<div class="other-banner-mod am-vertical-align">
    <div class="am-vertical-align-middle">
      <h1>One Web,Any Device</h1>
      <h2>万物互联，无缝体验</h2>
    </div>
</div>

<!-- 链接icon -->
<div class="about-menu-mod">
  <div class="am-container">
    <ul class="about-menu am-avg-md-4 am-avg-sm-4">
      <li>
        <a href="about.html"><i class="menu-icon"></i><span>关于我们</span></a>
      </li>
      <li class="active">
        <a href="reports.html"><i class="menu-icon"></i><span>媒体报道</span></a>
      </li>
      <li>
        <a href="contacts.html"><i class="menu-icon"></i><span>联系方式</span></a>
      </li>
      <li>
        <a href="join.html"><i class="menu-icon"></i><span>加入我们</span></a>
      </li>
    </ul>
  </div>
</div>

<!-- 媒体报道 -->
<div class="report-main-mod">
  <div class="am-container">
    <div class="report-main-item">
      <a href="http://economy.gmw.cn/2015-03/11/content_15070112.htm" class="report-title"  target="_blank">云适配高婧入选福布斯30under30：拼搏与未来</a>
      <p>许多伟大的公司都是由年轻人创造的。乔布斯创立苹果时年仅21岁;扎克伯格创立Facebook时20岁;在中国也有很多这样的例子：丁磊创办网易时年仅26岁;马化腾创办腾讯时27岁。2015年，中国将会有哪些年轻创业者崭露头角?近日，福布斯中文网评选出“2015年中国30位30岁以下创业者”获奖名单，云适配25岁联合创始人高婧，荣登榜单。</p>
      <a target="_blank" href="http://economy.gmw.cn/2015-03/11/content_15070112.htm" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:光明网</span>
      <span class="report-date">11 Mar</span>
    </div>

    <div class="report-main-item">
      <a href="http://finance.huanqiu.com/roll/2015-03/5839219.html?qq-pf-to=pcqq.c2c" class="report-title"  target="_blank">云适配央视受访：用一行代码从“万众创新”中突起</a>
      <p>创始人陈本峰在接受采访时表示，云适配通过一行代码的网站适配技术为用户提供极致的浏览体验，已经为超过10亿的网页实现了传统PC网站到各种移动终端的适配，并得到了微软，联想等众多世界500强企业的青睐，“未来，云适配不仅要做中国最好的公司，还要以成为全球最好公司为目标。”这是陈本峰的野心。</p>
      <a target="_blank" href="http://finance.huanqiu.com/roll/2015-03/5839219.html?qq-pf-to=pcqq.c2c" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:环球网</span>
      <span class="report-date">06 Mar</span>
    </div>

    <div class="report-main-item">
      <a href="http://elite.youth.cn/qlk/201501/t20150119_6418373.htm" class="report-title"  target="_blank">陈本峰　一行代码改变世界</a>
      <p>我们的精神就是永远创新。运用云适配技术,用一行代码,瞬间让人们无处不移动,改变人们的互联网生活,为社会创造价值,这就是我最最高兴的事。</p>
      <a target="_blank" href="http://elite.youth.cn/qlk/201501/t20150119_6418373.htm" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:中华儿女报刊社</span>
        <span class="report-date">19 Jan</span>
    </div>

    <div class="report-main-item">
      <a href="http://it.gmw.cn/2015-01/14/content_14519569.htm" class="report-title"  target="_blank">Amaze UI：BAT开源软件角逐战里的不速之客</a>
      <p>如果你是一个高级前端开发程序员，整天在Github上泡着，那你应该知道Amaze UI，一个还不错的开源HTML5跨屏前端框架。也许是因为HTML5终于在今年下半年定稿了，基于HTML5的开发再度升温，使得仅仅上线4个月的Amaze UI在Github上就获得了超过2000的星标注，跻身国产开源软件排行榜Top5，与BAT齐名。</p>
      <a target="_blank" href="http://it.gmw.cn/2015-01/14/content_14519569.htm" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:光明网</span>
      <span class="report-date">14 Jan</span>
    </div>

    <div class="report-main-item">
      <a href="http://tech2ipo.com/93915" class="report-title"  target="_blank">超级App+Web App将主宰未来的移动互联网？</a>
      <p>自 W3C 于 1999 年发布 HTML4 后，Web 世界快速发展，一片繁荣。人们一度认为 HTML 标准不需要升级了。一些致力于发展 Web App 的公司另行成立了 WHATWG 组织，直到 2007 年，W3C 从 WHATWG 接手相关工作，重新开始发展 HTML5。</p>
      <a target="_blank" href="http://tech2ipo.com/93915" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:创见</span>
      <span class="report-date">29 Dec</span>
    </div>

    <div class="report-main-item">
      <a href="http://tv.brtn.cn/20140904/VIDE1409835266979547.shtml" class="report-title"  target="_blank">《北京发布》（特别节目）：圆梦中关村（第四集）</a>
      <p>云适配由W3C中国区唯一HTML5布道官陈本峰创立，凭借一行代码，实现将个人电脑网页适配到各种手机及移动终端屏幕，并实现网站和移动终端内容实时同步，已获得国际专利。并因此成为中关村科技创新企业中的一员，致力共同打造国家科技创新中心。</p>
      <a target="_blank" href="http://tv.brtn.cn/20140904/VIDE1409835266979547.shtml" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:BTV财经</span>
      <span class="report-date">04 Sep</span>
    </div>

    <div class="report-main-item">
      <a href="http://content.businessvalue.com.cn/post/31692.html" class="report-title"  target="_blank">移动时代，你还需要域名吗？</a>
      <p>尽管看起来域名在移动时代变得越来越不重要，我们却更看到了罗永浩、小米高价购买域名。这是为什么？回答这个问题，必须要先看明白域名生意本身的前世今生。实际上，移动互联网在削减域名重要性的同时，也赋予了短域名和个性化域名更大想象空间。</p>
      <a target="_blank" href="http://content.businessvalue.com.cn/post/31692.html" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:《商业价值》</span>
      <span class="report-date">26 Aug</span>
    </div>
  </div>
</div>

<!-- footer -->
<footer>
  <div class="am-container">
    <div class="footer-logo">
      <img src="static/images/logo-colorful.png" />
    </div>
    <ul class="social-links-list">  
      <li>
        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=744071477&amp;site=qq&amp;menu=yes" target="_blank" title="qq">
          <i class="am-icon-qq am-icon-sm"></i>
        </a>
      </li>
      <li>
        <a href="" target="_blank" id="wechat" title="微信">
          <i class="am-icon-weixin am-icon-sm"></i>
        </a>
      </li>
      <li>
        <a href="http://weibo.com/allmobilize" target="_blank" title="新浪微博">
          <i class="am-icon-weibo am-icon-sm"></i>
        </a>
      </li> 
    </ul>
    <ul class="footer-nav">
      <li>
        <a href="/about.html">关于我们</a>
      </li>
      <li>
        <a href="/faq.html">常见问题</a>
      </li>
      <li>
        <a href="/build.html">移动建站白皮书</a>
      </li>
      <li>
        <a href="http://dev.yunshipei.com/">开发者中心</a>
      </li>
    </ul>
    <ul class="friend-links">
      <li>友情链接：</li>
      <li>
        <a href="http://segmentfault.com/" target="_blank" title="SegmentFault">SegmentFault</a>
      </li>
      <li>
        <a href="http://www.zjgsq.com/" target="_blank" title="Web前端">Web前端</a>
      </li>
      <li>
        <a href="http://apicloud.com/" target="_blank" title="APICloud">APICloud</a>
      </li>
      <li>
        <a href="http://www.w3cdream.com/" target="_blank" title="W3C梦想站">W3C梦想站</a>
      </li>
      <li>
        <a href="http://bbs.egret-labs.org/" target="_blank" title="Egret社区">Egret社区</a>
      </li>
      <li>
        <a href="https://meiqia.com/integrations" target="_blank" title="美洽客服">美洽客服</a>
      </li>
    </ul>
  </div>
</footer>

<!-- 微信弹出框 -->
<div class="weixin-mod">
    <div class="weixin-inner">
        <a class="weixin-close"><i class="am-icon-times-circle"></i></a>
        <div class="qrcode-weixin">
            <img src="static/images/qrcode-weixin.jpg" alt="">
        </div>
        <div class="weixin-info">在微信上关注我们</div>
    </div>
</div>
</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="static/js/polyfill/rem.min.js"></script>
<script src="static/js/polyfill/respond.min.js"></script>
<script src="static/js/amazeui.legacy.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/amazeui.min.js"></script>
<script src="static/js/app.js"></script>
<!--<![endif]-->
</html>